.ustawieniaPage{
  padding-top: 10px;

  label{
    //margin-top: 5px;
    //margin-bottom: 0;

    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .btnZmianaHasla{
    padding: 15px;
    //background: #2a2a2a;
  }
}