.uzytkownicyModule{
  .ant-table{
    margin-top: 15px;
  }

  .ant-table-thead > tr > th {
    background: #525252;
    color: #ffffff;
    padding: 16px 10px;
  }

  .ant-table-tbody > tr > td {
    padding: 5px 10px;
  }

  .ant-table-cell-row-hover{
    background: #e18787 !important;
  }

  .anticon{
    vertical-align: unset;
  }

  .TableButtons{
    .edit{
      color: dodgerblue;
    }

    .delete{
      color: red;
      margin-left: 5px;
    }
  }

  .warTak{
    background: #1ba61b;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
  }

  .warNie{
    background: #af2222;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
  }
}

.dodajModal{
  label{

    &:first-of-type{
      margin-top: 0;
    }

    margin: 10px 0 0 0;
  }
}