.uzytkownicyModule{
  .ant-table{
    margin-top: 15px;
  }

  .ant-table-thead > tr > th {
    background: #525252;
    color: #ffffff;
  }

  .ant-table-cell-row-hover{
    background: #e18787 !important;
  }

  .anticon{
    vertical-align: unset;
  }

  .TableButtons{
    .edit{
      color: dodgerblue;
    }

    .delete{
      color: red;
      margin-left: 5px;
    }
  }
}

.dodajModal{
  label{

    &:first-of-type{
      margin-top: 0;
    }

    margin: 10px 0 0 0;
  }
}