//$hover_menu-color: #dd3939; //#00587a;
//$menu_item_bacground_hover: #18318c; //#233652;
//$menu_bacground_top: #18318c; //#132239;
//$menu_bacground_bottom: #dd3939; //#2e527a;
//$boxTitlebacground: #dd3939; //#2e527a;

$hover_menu-color: #b01d1d; //#00587a;
$menu_item_bacground_hover: #d14742; //#233652;
$menu_bacground_top: #484848; //#132239;
$menu_bacground_bottom: #2a2a2a; //#2e527a;
$contentBacground: #e8e8e8; //#2e527a;
$headerBacground: #484848; //#2e527a;
$boxTitlebacground: #BFD142; //#2e527a;

#body {
  margin: 0;
  font-family: "Lato", sans-serif;
  //min-height: 100vh;
}

.row{
  margin: unset !important;
}

#top-footer {
  margin: 25px 15px 5px 15px;

  #f-inner {
    border-top: 1px solid #ccc;
    padding: 5px;
    font-size: 10px;
    text-align: right;


    span{
      margin-right: 3px;
      &:last-of-type{
        margin-right: 0;
      }
    }

    #f-icon{
      img{
        height: 16px;
      }
    }
    #f-name {

    }
    #f-update {

    }
    #f-ver {

    }
    #f-topsa{

    }
  }
}

.onMobile{
  display: none !important;
}

.header{
  //width: 100%;
  margin-left: 250px;
  height: 50px;
  background: $headerBacground;
  z-index: 8;
  //padding: 5px;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;

  font-size: 0.875rem;
  //width: 100vw;
  width: calc(100vw - 250px);
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  padding-left: 7px;
  padding-bottom: 7px;
  padding-top: 7px;



  #menuButton{
    background: none;
    display: none;
    border: none;
    //padding: 5px;
    //padding: 0;

    //margin: 3px;

    i{
      padding: 8px 10px;
      border-radius: 5px;
      border: 2px solid #222222;
      margin-top: 0;
      color: #ffffff;
      //margin-bottom: 4px;
    }

  }

  .push {
    margin-left: auto;
    margin-right: 10px;
    font-size: 0;
  }

  #wyloguj-btn {
    color: #fff;
    background: #E30713;
    padding: 3px 5px;
    border: 1px solid #E30713;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important;
    //margin: 5px;
    //margin-right:15px;
    font-size: 14px;
    //align-self: center;
    //height: 20px;
    //align-items: baseline;

    span{
      text-decoration: none !important;
    }

    i{
      padding: 0;
      border: 0;
      margin: 0;
    }

    &:hover i{
      color: black;
    }
  }

}

// menu DESKTOP
.sidebar {
  //margin-top: 50px;
  z-index: 9;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: 250px;
  background:linear-gradient($menu_bacground_top,transparent);
  background-color: $menu_bacground_bottom;
  box-shadow: 2px 0px 3px #00000050;
  position: fixed;
  //height: 100%;
  //height: calc(100vh - 50px);
  height: calc(100vh);
  overflow: auto;
  top: 0;

  //a {
  //  display: block;
  //  //color: black;
  //  //padding: 16px;
  //  text-decoration: none;
  //  transition: 0.3s;
  //
  //  height: 45px;
  //  line-height: 45px;
  //  padding: 0px 15px;
  //  color: white;
  //  text-transform: uppercase;
  //}

}

#sidebar-header {
  text-align: center;
  letter-spacing: 5px;
  color: white;
  padding: 15px 5px;
  //height: 50px;
  background: #061018;
  font-size: 0.65rem;
  //margin-bottom: 10px;
}

.menuItems{

  a {
    display: block;
    //color: black;
    //padding: 16px;
    text-decoration: none !important;
    transition: 0.3s;

    height: 45px;
    line-height: 45px;
    padding: 0px 15px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
  }

  a.active {
    //background-color: #4CAF50; rgba(76,175,80,1) 10%

    background:linear-gradient(90deg,#4CAF50,transparent 98%);
    //background-color: transparent;
    //opacity:0.9;
    color: white;
  }

  a:hover:not(.active) {
    //background-color: #233652;
    background:linear-gradient(90deg,$menu_item_bacground_hover,transparent 98%);
    color: white;
  }

  div {
    overflow: hidden;
    height: 44px;
    cursor: pointer;
    //padding: 0 15px;
    transition: all 0.2s ease;
    //  font-weight: bold;
    i {
      z-index: 99;
      padding-top: 12px;
      padding-bottom: 12px;
      width: 34px;
      font-size: 20px;
      color: white;
      text-align: center;
      display: inline-block;
      transition: all 0.2s ease;
    }
    span {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      display: inline-block;
      transition: all .5s ease;
      position: relative;
      top: -2px;
    }
    &:hover, &:active, &:focus{
      //background: rgba(0,0,0,0.2); #4CAF50
      i{
        color: $hover_menu-color;
      }
      span{
        //color: black;
        margin-left: 5px;
      }
    }
    &.current {
      //background: chocolate;
      i {
        color: $hover_menu-color;
      }
      span {
        color: $hover_menu-color;
        //text-shadow:1px 1px 0 #000000;
        text-shadow: 0 0 3px #202020;
        font-weight: bold;
      }
    }
  }

}

#mySidenav{
  width: 0;
}

// menu MOBILE
#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background:linear-gradient($menu_bacground_top,transparent);
  background-color: $menu_bacground_bottom;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: 0;
  //width: 250px;
  box-shadow: 2px 0px 3px #00000050;


  //height: calc(100vh - 50px);
 // overflow: auto;

  .closebtn {
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;

    i{
      font-size: 20px;
    }
  }

}

div.content {
  //margin-top: 50px;
  //margin-left: 250px;
  //padding: 16px 16px;

  //height: calc(100vh - 50px;
  //background-image: url("./configuration/double-bubble-outline.png");
  //height: 1000px;
  //width: 1330px;
  //min-height: 94vh;
  //max-width: 100%;
  //margin: 0 auto;

  margin-left: 250px;
  padding: 66px 16px 16px;
  height: 100%;


  //align-content: flex-start;
  //align-items: flex-start;
  -webkit-flex: 1 1;
  flex: 1 1;
}

.opakowanie{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //background: $contentBacground;
}

.page {
  //display: flex;
  //align-content: flex-start;
  //align-items: flex-start;
  flex-wrap: wrap;

  //-webkit-flex: 1 1;
  //flex: 1 1;
}

.box {
  //border: #2e527a 1px solid;
  //box-shadow: 5px 10px 18px #888888;
  box-shadow: 2px 4px 4px #22222250;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  //max-width: 500px;
  background: white;

  #boxBody{
    //background: #4CAF50;
  }
}

.boxZtitle {
  margin: 15px;
  //background: white;

  #boxTitle{
    border-radius: 15px 15px 0 0;
    //box-shadow: 5px 2px 5px 0 #22222250;
    display: flex;
    align-items: center;
    background: $boxTitlebacground;
    height: 35px;
    color: white;

    h5{
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

  }

  #boxBody{
    padding: 15px;
    //border: #2e527a 1px solid;
    border-radius: 0 0 15px 15px;
    //box-shadow: 5px 10px 18px #888888;
    box-shadow: 2px 4px 4px #22222250;

    img{
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 800px) {
  //.sidebar {
  //  margin-top: 50px;
  //  width: 100%;
  //  height: auto;
  //  position: relative;
  //}

  div.content {
    //margin-top: 0;
    padding-top: 0;
  }

  //.sidebar a {float: left;}
  //div.content {margin-left: 0;}
}

@media screen and (max-width: 700px) {
  .kalendarzModule{
    padding-top: 10px;
  }

  .sidebar{
    display: none;
  }
  .sidebar a {
    //text-align: center;
    float: none;
  }
  div.content {
    padding: 0 5px 5px;
    margin-top: 50px;
    margin-left: 0;
  }
  .header{
    padding-left: 10px;
    margin-left: 0;
    width: 100vw;
    z-index: 999;

    .onMobile{
      display: block !important;
    }

    .onDesktop{
      display: none !important;
    }
  }
  .header #menuButton{
    display: block;
  }
  .boxZtitle {
    #boxBody{
      img{
        max-width: calc(100vw - 92px);
      }
    }
  }

  #menuButton{
    padding-left: 0;
  }

  .rbc-toolbar{
    font-size: 9px !important;

    button{
      padding: 8px 4px !important;
    }

    .rbc-toolbar-label{
      padding: 0 5px !important;
    }
  }
}

.loginView {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: url("./configuration/double-bubble-outline.png");

  h1{
    text-align: center;
    font-size: 1.5rem;
  }
}

.loginComponent {
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .logo {
    margin-bottom: 15px;
  }
}

.loginContainer {
  border-radius: 10px;
  //box-shadow: 1px 3px 3px #22222250;
  box-shadow: 5px 10px 18px #888888;
  //background: #009FE3;
  background:linear-gradient($menu_bacground_top,transparent);
  background-color: $menu_bacground_bottom;
  max-width: 500px;
  width: 320px;
  padding: 25px;
  margin: auto;
}

.loginContainer label {
  margin: 2px;
  font-size: 0.75rem;
  color: white;
}

.loginContainer input {
  margin-bottom: 5px;
}

.loginContainer .btn{
  margin-top: 10px;
  width: 100%;
  color: white;
  background: #6D9886;
  border-color: #6D9886;

  &:hover{
    background: #5e7c6e;
    border-color: #5e7c6e;
    color: white;
  }
}

.ant-modal-footer{
  display: flex;
  justify-content: space-between;
}

#POPUP_WRAPPER {

  position: fixed;
  width: 100%;
  height: 100vh;
  z-index:999999;
  top: 0;
  left: 0;
  //background: rgba(255, 255, 255, 0.8);
  //background: hsla(0,0%,78.4%,.85) !important;
  background: rgba(0, 0, 0, 0.45) !important;

  .popup-element {
    width: 95vw;
    //max-width: 1330px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10vh;
    //box-shadow: 1px 1px 3px #ddd;
    box-shadow: 8px 8px 6px rgba(123, 123, 123, 0.84);

    @media screen and (max-width: 992px) {
      margin-top: 10vh;
    }

    #popup-header {

      padding: 5px 5px;
      border: 1px solid #545454;
      border-bottom: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      align-items: baseline;
      background: #393939;
      //background: #999999;
      color: #fff;
      display: flex;
      justify-content: space-between;
      cursor:default;

      h1 {
        text-transform: uppercase;
        font-weight: normal;
        color: inherit;
        font-size: 1rem;
        margin: 0;
        width: calc(100% - 30px);
        text-align: center;
      }

      #popup-close-icon {
        font-size: 1rem;
        cursor: pointer;
        color: inherit;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    #popup-body {
      cursor:default;
      background: #fff;
      border: 1px solid #ddd;
      border-top: none;
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      padding: 15px;

      overflow-y: auto;
      max-height: 85vh;

      @media screen and (max-width: 992px) {
        max-height: 75vh;
      }
    }
  }

}